.addUser{
    width: max-content;
    height: max-content;
   padding: 30px;
   background-color: rgba(17, 25, 40, 0.5); 
   border-radius: 10px;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}